In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('weather_data.csv')

In [3]:
df

          day  temperature windspeed   event
0  01/01/2017         32.0         6    Rain
1  01/04/2017          NaN         9   Sunny
2  01/05/2017         28.0       NaN    Snow
3  01/06/2017          NaN         7     NaN
4  01/07/2017         32.0        Na    Rain
5  01/08/2017          NaN       NaN   Sunny
6  01/09/2017          NaN       NaN     NaN
7  01/10/2017         34.0         8  Cloudy
8  01/11/2017         40.0        12   Sunny

In [4]:
newdf = pd.DataFrame(df.describe())

In [11]:
mean_temp = newdf.iloc[1,0]

In [16]:
print(m_temp)
type(m_temp)

33.2

numpy.float64

In [23]:
print(df.describe(include = 'all'))
# def checking(report,mean_temp,mean_wind):
#     n = pd.DataFrame(report.loc[report['temperature']==None & report['windspeed'] > mean_wind & report['event']=='Sunny'])


#     return n

def mean_calc(report):
    df = pd.DataFrame(report.describe(include = 'all'))
    mean_temp = df.loc['mean','temperature']
    mean_wind = df.loc['mean','windspeed']
#     checking(df,mean_temp,mean_wind)
    
    
mean_calc(df)

               day  temperature windspeed  event
count            9      5.00000         6      7
unique           9          NaN         6      4
top     01/01/2017          NaN         6  Sunny
freq             1          NaN         1      3
mean           NaN     33.20000       NaN    NaN
std            NaN      4.38178       NaN    NaN
min            NaN     28.00000       NaN    NaN
25%            NaN     32.00000       NaN    NaN
50%            NaN     32.00000       NaN    NaN
75%            NaN     34.00000       NaN    NaN
max            NaN     40.00000       NaN    NaN

In [29]:
n = None
print(int(n))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'NoneType'